body{
    font-family: Lucida Sans;
    font-size: 18px;
    background-color: rgb(21, 21, 199);
    text-align: center;
}

h1{
    color: white;
}

.input{
    width: 450px;
    height: 50px;
    margin: 5px;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    border: o;
    background-color: white;
    font-size: 18px;
}
.boton-agregar:hover{
    opacity: 0.9;
}

.boton-agregar{
    width: 50px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 6, 46);
    color: white;
}

.item-input{
    width: 350px;
    height: 50px;
    padding: 0px, 20px, 0px, 20px;
    border: solid white 1px;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    color: white;
}

input{
    border: 0;
}

.Item{
    margin-bottom: 10px;
}

.boton-editar{
    margin: 0px, 5px, 0px, 5px;
    border: none;
    background: none;
    color: #62d0ff;
    font-size: 1.4rem;
    font-family: Montserrat, sans-serif;
}

.boton-remover{
    width: 50px;
    height: 50px;
    border: 0;
    margin: 0px, 5px, 0px, 5px;
    border-radius: 10px;
    background-color: rgb(255, 6, 46);
    font-size: 20px;
}